/*==================== SCROLL BAR ====================*/
.blog__page1__clicked::-webkit-scrollbar {
    width: 0.5rem;
}

.blog__page1__clicked::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
.blog__page1__clicked::-webkit-scrollbar-thumb {
    background: white;
}




/*==================== COVERS ====================*/
.blog__covers {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog__clicked {
    grid-template-columns: 1fr;
}

.blog__cover {
    justify-self: center;
    transition: .2s;
}

.blog__page1 {
    background: #005acd;
    color: white;
    padding: 20px;
    border-radius: 2%;
    width: 250px;
    height: 400px;
    transition: .5s;
}
.blog__page2 { 
    background: white;
    border-radius: 2%;
    margin-top: -400px;
    width: 270px;
    height: 400px;
    transform: rotate(-5deg);
    transform-origin: bottom left;
    transition: .5s;
}

.blog__page1__clicked {
    width: 700px;
    height: 800px;
    transform: translateX(350px);
    overflow: auto;
    cursor: text;
}

.blog__page2__clicked {
    width: 700px;
    height: 800px;
    margin-top: -800px;
    transform: perspective(800px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-180deg) translateX(-350px);
    cursor: default;
}

.blog__cover__issue {
    color: black;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    position: absolute;
}

.blog__cover__title {
    color: black;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    position: absolute;
}

.blog__cover__logo {
    color: #005acd;
    font-size: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.blog__cover__notice {
    display: none;
    color: #005acd;
    font-size: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, 1);
    position: absolute;
}


.blog__date, .blog__tags {
    text-align: center;
    padding-top: 1rem;
}
.blog__tags {
    margin-bottom: 2rem;
}

.blog__cover:hover {
    transform: translateY(-25px);
    cursor: pointer;
}

.blog__return__button {
    color: #005acd;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    transition: .3s;
    cursor: pointer;
}

.blog__return__button:hover {
    transform: translateX(-1rem);
}

/*==================== FOOTER ====================*/
.blog__footer {
    text-align: center;
    font-size: 1.2rem;
    color: #005acd;
    transition: .3s;
}
.blog__footer a:visited {
    text-decoration: none;
    color: #005acd;
}
.blog__footer a:hover {    
    color: #6dd7fd;
}
.blog__footer:hover {
    transform: scale(120%);
}


@media screen and (max-width: 600px) {
    .blog__covers {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .blog__covers {
        grid-template-columns: 1fr 1fr;
    }
}